/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: Calibri;
	
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


.wrap{
	height: 1000px;
	width: 1000px;
}

.red{
	height: 100px;
	width: 600px;
	background: red;
}

.green{
	height: 100px;
	height: 300px;
	background: green;
}

@media only screen and (max-width: 480px) {

.wrapreset {
	
	width: 100%;
	height: 100%;
	position: relative;
	background: #F4EFEB;
}

.slidereset{
	height: 100%;
	width: 100%;
	background: green;
	

}

.headerreset{
	height: auto;
	width: 100%;
	background: white;
	
	/*position: absolute;*/
	
	
}

.topcontentreset{
	height: 139px;
	width: 100%;
	background: red;
	margin: auto;
	z-index: 10;
	float: left;
}



.iconleftreset{
	height: 50px;
	width: 30px;
	background: url(../images/leftarrow1.ico) no-repeat;
	float: left;
	position: absolute;
	left: 0px;
	top: 180px;
	z-index: 20;

}

.iconrightreset{
	height: 50px;
	width: 30px;
	background: url(../images/rightarrow1.ico) no-repeat;
	float: right;
	position: absolute;
	top: 180px;
	right: 0px;
	z-index: 20;
}

.textreset{
	height: 65px;
	max-width: 100%;
	background: #018DA4;
	position: absolute;
	top: 90px;
	left: 60px;
	opacity:0.7;
	z-index: 100;
	display: none;
}

.text p{	
	color: white;
	font-size: 100%;
	
}

.text p b{
	font-weight: bolder;
}



.logoreset{
	height: 60px;
	width: 100%;
	margin-top: 5px;
	background: #F4EFEB;
	float: none;
}

.topbarreset{
	height: 100%;
	width: 100%;
	background: #4EB3C5;
	float: none;
	/*margin-top: 5px;*/
	font-size: 50%;
	display: none;
}

.topbaractionreset{
	height: 30px;
	width: 100%;
	background: #4EB3C5;
	font-size: 50%;
	display: block;
}

.linkreset{
	height: 26px;
	width: 100%;
	font-weight: bolder;
	color: white;
	text-align: center;
	/*margin: 0px 0px 0px 0px;*/
	display: block;
	border: grey 1px solid;
	padding-top: 4px;
}

.searchreset{
	height: 15px;
	width: 15px;
	float: right;
	margin-top: 8px;
	margin-right: 5px;
	/*visibility: hidden;*/
	display: none;
}

.barreset{
	width: 100%;
	height: 100%;
	background: pink;
	float: right;
	margin-top: -3px;
	border: grey 1px solid;
}

.menureset{
	height: 30px;
	width: 20%;
	float: right;
	margin: 0px -2px 0px 0px;
	padding: 10px 0px 0px 0px;
	color: white;
	background: #91B17A;
	font-size: 80%;
	font-weight: bolder;
	text-align: center;
	border: grey 1px solid;
}

.contentreset{
	height: 600px;
	width: 100%;
	background: #F4EFEB;
	
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	/*z-index: 100;*/
}

.topreset{
	height: 100%;
	width: 100%;
}

.image1reset{
	height: 500px;
	width: 100%;
}

.images2reset{
	height: 200px;
	width: 100%;

}

.images3reset{
	height: 200px;
	width: 100%;

}

li .leftreset{
	height: 200px;
	width: 100%;
	display: block;

}

li .centerreset{
	height: 200px;
	width: 100%;
	display: block;

}

li .rightreset{
	height: 200px;
	width: 100%;
	display: block;
}

.eventreset{
	height: 200px;
	width: 100%;
	background: #F4EFEB;
	/*float: left;*/
	margin: 0px 0px 0px 0px;
	display: block;
	position: relative;
}

.eventreset div{
	
	position: absolute;
	bottom: 5px;
	right: 6px;
	opacity: 0.8;
	height: 40px;
	width: 230px;
}


.eventreset div p{
	font-weight: bolder;
	color: white;
	font-size: 80%;
	margin: 12px 0px 0px 10px;
	text-decoration: none;
}

.eventreset:nth-child(1) div { background: #009AB2; }
.eventreset:nth-child(2) div { background: #658A45; }
.eventreset:nth-child(3) div { background: #FF7E6E; }

.arrowreset{
	height: 25px;
	width: 25px;
	position: absolute;
	bottom: 9px;
	right: 9px;
}

.bottomreset{
	height: 600px;
	width: 100%;
	background: #F4EFEB;
	margin-top: 10px;
}

.leftreset{
	height: 280px;
	width: 100%;
	background: #F4EFEB;
}


.leftreset h1{
	color: #009AB2;
	font-size: 150%;
	display: block;
	margin-left: 10px;
	margin-bottom: 10px;
	font-weight: bolder;
}

.leftreset hr{
	border: 0;
	height: 1px;
	background-color: black;	
}

.rightreset{
	height: 280px;
	width: 100%;
	margin-top: 10px;

}

.rightreset h1{
	color: #009AB2;
	font-size: 150%;
	display: block;
	margin-left: 10px;
	margin-bottom: 10px;
	font-weight: bolder;
}

.rightreset p{
	color: grey;
}

.readmorereset{
	color: #FD725F;
	font-weight: bolder;
	float: right;
}

.rightreset a{
	color: #FD725F;
	text-decoration: none;
}

.inforeset{
	height: 60px;
	width: 100%;
	background: #F4EFEB;
	margin-top: 10px;
	padding-left: 5px;
	position: relative;
	display: block;
}

.datereset{
	height: 50px;
	width: 70px;
	float: left;
	background: #F4EFEB;
	margin: auto;
}

.datereset h2{
	color: #4F7329;
	font-size: 200%;
	font-weight: bolder;
}

.datereset h3{
	color: #4F7329;
	font-weight: bolder;
}

.dayreset{
	height: 25px;
	width: 200px;
	background: #F4EFEB;
	float: left;
	padding-top: 5px; 
}

.dayreset h2{
	font-size: 150%;
	color: #FF7F6C;
	font-weight: bolder;
}

.timereset{
	height: 20px;
	width: 150px;
	background: #F4EFEB;
	position: absolute;
	right: 0px;
	bottom: 0px;
}

.buttonreset {
	-moz-box-shadow:inset 0px 1px 0px 0px #009AB2;
	-webkit-box-shadow:inset 0px 1px 0px 0px #009AB2;
	box-shadow:inset 0px 1px 0px 0px #009AB2;
	
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#009AB2', endColorstr='#009AB2');
	background-color:#009AB2;
	-webkit-border-top-left-radius:5px;
	-moz-border-radius-topleft:5px;
	border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	-moz-border-radius-topright:5px;
	border-top-right-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	-moz-border-radius-bottomright:5px;
	border-bottom-right-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	-moz-border-radius-bottomleft:5px;
	border-bottom-left-radius:5px;
	text-indent:0px;
	border:1px solid #009AB2;
	display:inline-block;
	color:white;
	font-family:Arial Black;
	font-size:10px;
	font-weight:bold;
	font-style:normal;
	height:30px;
	line-height:30px;
	width:75px;
	text-decoration:none;
	text-align:center;
	margin: 10px 0px 0px 47px;
}
.buttonreset:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}.buttonreset:active {
	
	top:1px;
}

.footerreset{
	height: 250px;
	width: 100%;
	background: #515151;
	position: absolute;
	top: 1410px;

}

.footercontentreset{
	height: 250px;
	width: 100%;
	background: #515151;
	margin: 10px 0px 0px 0px;
}

.footertopreset{
	height: 30px;
	width: 100%;
	background: #515151;
	text-align: center;
	
}

.footermidreset{
	height: 30px;
	width: 100%;
	background: #515151;
	text-align: center;
}

.footermidreset h2{
	font-size: 105%;
	color: #F4EFEB;
	display: block;
	margin-top: 0px;
	/*margin-bottom: 5px;*/ 
	font-weight: bolder;
}

.footerreset h1{
	color: #F4EFEB;
	font-size: 105%;
	font-weight: bolder;
	
	
}


.footerbotreset{
	height: 30px;
	width: 100%;
	background: #515151;
	text-align: center;
}

.footericonreset{
	margin: 0px 0px 0px 140px;

}

.iconreset{
	float: left;
	height: 25px;
	width: 25px;
	margin: 0px 11px 0px 0px;

}

.footerbuttonreset {
	-moz-box-shadow:inset 0px 1px 0px 0px #009AB2;
	-webkit-box-shadow:inset 0px 1px 0px 0px #009AB2;
	box-shadow:inset 0px 1px 0px 0px #009AB2;
	
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#009AB2', endColorstr='#009AB2');
	background-color:#009AB2;
	-webkit-border-top-left-radius:5px;
	-moz-border-radius-topleft:5px;
	border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	-moz-border-radius-topright:5px;
	border-top-right-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	-moz-border-radius-bottomright:5px;
	border-bottom-right-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	-moz-border-radius-bottomleft:5px;
	border-bottom-left-radius:5px;
	text-indent:0px;
	border:1px solid #009AB2;
	display:inline-block;
	color:white;
	font-family:Arial Black;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:30px;
	line-height:30px;
	width:150px;
	text-decoration:none;
	text-align:center;
	margin: 0px 0px 0px 0px;
	
}
.footerbuttonreset:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}.footerbuttonreset:active {
	
	top:1px;
}

.footerreset hr{
	border: 0;
	height: 1px;
	background-color: grey;
}

}